<!--==================== ABOUT ====================-->
<section class="about section" id="about">
  <h2 class="section__title">À propos de moi</h2>
  <span class="section__subtitle">Mon introduction</span>
  <div class="about__container container grid">
    <img src="assets/img/About.png" alt="" class="about__img">
    <div class="about__data">
      <p class="about__description">Bonjour, Je m’appelle Hicham MOKADDEM, Full Stack Web Developer et je suis un étudiant en première année Cycle Ingénieur d’Etat : Génie Informatique à l’Ecole Nationale des Sciences Appliquées Berrechid - Université Hassan 1er. Titulaire d’une Licence en Education : Spécialité Enseignement Secondaire Informatique à l’Ecole Normale Supérieure de Marrakech – Université Cadi Ayyad. <br>
        Sérieux, rigoureux, enthousiaste et particulièrement assidu. Je suis passionné par le domaine informatique notamment le développement informatique, De telle façon j'ai pu décrocher plusieurs attestations et certificats dans ce domaine.
      </p>
      <div class="about__info">
        <div>
          <span class="about__info-title count">+3</span>
          <span class="about__info-name">Ans <br> d'expérience</span>
        </div>
        <div>
          <span class="about__info-title count">+20</span>
          <span class="about__info-name">Projets <br> complété</span>
        </div>
        <div>
          <span class="about__info-title count">+13</span>
          <span class="about__info-name">Attestations <br> et Certificats</span>
        </div>
      </div>
      <div class="about__buttons">
        <a href="assets/pdf/cv.pdf" download="" class="button button--flex">
          Télécharger CV <i class="uil uil-download-alt button__icon"></i>
        </a>
      </div>
    </div>
  </div>
</section>
