<!--==================== Contactez Moi ====================-->
<section class="contact section" id="contact">
  <h2 class="section__title">Contactez Moi</h2>
  <span class="section__subtitle">Get in touch</span>

  <div class="contact__container container grid">
    <div>
      <div class="contact__information">
        <i class="uil uil-phone contact__icon"></i>
        <div>
          <h3 class="contact__title">Appelez-moi</h3>
          <span class="contact__subtitle">+(212) 697-332-933</span>
        </div>
      </div>

      <div class="contact__information">
        <i class="uil uil-envelope contact__icon"></i>
        <div>
          <h3 class="contact__title">E-mail</h3>
          <span class="contact__subtitle">contact@mokaddemhicham.tech</span>
        </div>
      </div>

      <div class="contact__information">
        <i class="uil uil-map-marker contact__icon"></i>
        <div>
          <h3 class="contact__title">Location</h3>
          <span class="contact__subtitle">IMM 11 APT 200 RIAD BEN CHAIB BERRECHID 26100 - Morocco</span>
        </div>
      </div>
    </div>

    <form action="" class="contact__form grid">
      <div class="contact__inputs grid">
        <div class="contact__content">
          <label for="name" class="contact__label">Nom</label>
          <input type="text" class="contact__input" id="name" name="name">
        </div>
        <div class="contact__content">
          <label for="email" class="contact__label">E-mail</label>
          <input type="email" class="contact__input" id="email" name="email">
        </div>
      </div>
      <div class="contact__content">
        <label for="project" class="contact__label">Projet</label>
        <input type="text" class="contact__input" id="project" name="project">
      </div>
      <div class="contact__content">
        <label for="message" class="contact__label">Message</label>
        <textarea name="message" id="message" cols="0" rows="7" class="contact__input"></textarea>
      </div>

      <div>
        <a href="" class="button button--flex">
          Envoyer
          <i class="uil uil-message button__icon"></i>
        </a>
      </div>
    </form>
  </div>
</section>
