<!--==================== PORTFOLIO ====================-->
<section class="portfolio section" id="portfolio">
  <h2 class="section__title">Portfolio</h2>
  <span class="section__subtitle">Most recent work</span>

  <div class="portfolio__container container swiper-container">
    <div class="swiper-wrapper">
      <!--==================== PORTFOLIO 1 ====================-->
      <div class="portfolio__content grid swiper-slide">
        <img src="assets/img/Bridgens.png" alt="Portfolio" class="portfolio__img">
        <div class="portfolio__data">
          <h3 class="portfolio__title">Bridge ENS</h3>
          <div class="portfolio__description">« Bridge'ENS » est un club basé à L'école Normale Supérieure de Marrakech. qui est destiné à tout étudiant au sein de l'ecole, et qui serait intéressé par le domaine informatique en général . Nous encadrons plusieurs conférences et activités .</div>
          <a href="https://bridgens.ma/" class="button button--flex button--small portfolio__button">Demo <i class="uil uil-arrow-right button__icon"></i></a>
        </div>
      </div>

      <!--==================== PORTFOLIO 2 ====================-->
      <div class="portfolio__content grid swiper-slide">
        <img src="assets/img/Travel.png" alt="Portfolio" class="portfolio__img">
        <div class="portfolio__data">
          <h3 class="portfolio__title">Travel</h3>
          <div class="portfolio__description">Organisez votre plan de voyage en quelques étapes simples, visitez de magnifiques attractions mondiales...</div>
          <a href="https://mokaddemhicham.me/travel" class="button button--flex button--small portfolio__button">Demo <i class="uil uil-arrow-right button__icon"></i></a>
        </div>
      </div>

      <!--==================== PORTFOLIO 3 ====================-->
      <div class="portfolio__content grid swiper-slide">
        <img src="assets/img/Material.png" alt="Portfolio" class="portfolio__img">
        <div class="portfolio__data">
          <h3 class="portfolio__title">Material</h3>
          <div class="portfolio__description">Website adaptable to all devices, with ui components and animated interactions.</div>
          <a href="https://mokaddemhicham.me/material" class="button button--flex button--small portfolio__button">Demo <i class="uil uil-arrow-right button__icon"></i></a>
        </div>
      </div>
      <!--==================== PORTFOLIO 4 ====================-->
      <div class="portfolio__content grid swiper-slide">
        <img src="assets/img/eiser.png" alt="Portfolio" class="portfolio__img">
        <div class="portfolio__data">
          <h3 class="portfolio__title">Eiser</h3>
          <div class="portfolio__description">Un site web de vente de vêtements offre une expérience de shopping en ligne pour les amateurs de mode.</div>
          <a href="https://mokaddemhicham.me/eiser" class="button button--flex button--small portfolio__button">Demo <i class="uil uil-arrow-right button__icon"></i></a>
        </div>
      </div>
    </div>
    <div class="swiper-button-next">
      <i class="uil uil-angle-right-b swiper-portfolio-icon"></i>
    </div>
    <div class="swiper-button-prev">
      <i class="uil uil-angle-left-b swiper-portfolio-icon"></i>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
