<!--==================== SKILLS ====================-->
<section class="skills section" id="skills">
  <h2 class="section__title">Compétences</h2>
  <span class="section__subtitle">Mon niveau technique</span>
  <div class="skills__container container grid">
    <div>
      <!--==================== SKILLS 1 ====================-->
      <div class="skills__content skills__open">
        <div class="skills__header">
          <i class="uil uil-brackets-curly skills__icon"></i>
          <div>
            <h1 class="skills__title">Front-End Developer</h1>
            <span class="skills__subtitle">Plus de 3 ans</span>
          </div>
          <i class="uil uil-angle-down skills__arrow"></i>
        </div>

        <div class="skills__list grid">
          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">HTML</h3>
              <span class="skills__number">90%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__html"></span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">CSS</h3>
              <span class="skills__number">90%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__css"></span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">JavaScript</h3>
              <span class="skills__number">85%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__js"></span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">React JS</h3>
              <span class="skills__number">60%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__react"></span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">jQuery</h3>
              <span class="skills__number">65%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__jquery"></span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">Bootstrap</h3>
              <span class="skills__number">90%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__bootstrap"></span>
            </div>
          </div>
        </div>
      </div>

      <!--==================== SKILLS 2 ====================-->
      <div class="skills__content skills__close">
        <div class="skills__header">
          <i class="uil uil-server-network skills__icon"></i>
          <div>
            <h1 class="skills__title">Back-End Developer</h1>
            <span class="skills__subtitle">Plus de 3 ans</span>
          </div>
          <i class="uil uil-angle-down skills__arrow"></i>
        </div>

        <div class="skills__list grid">
          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">PHP</h3>
              <span class="skills__number">90%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__php"></span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">Laravel</h3>
              <span class="skills__number">80%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__lararel"></span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">Node JS</h3>
              <span class="skills__number">50%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__node"></span>
            </div>
          </div>


          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">SQL</h3>
              <span class="skills__number">90%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__sql"></span>
            </div>
          </div>

        </div>
      </div>

      <!--==================== SKILLS 3 ====================-->
      <div class="skills__content skills__close">
        <div class="skills__header">
          <i class="uil uil-linux skills__icon"></i>
          <div>
            <h1 class="skills__title">Administration des Systèmes</h1>
            <span class="skills__subtitle">Plus de 2 ans</span>
          </div>
          <i class="uil uil-angle-down skills__arrow"></i>
        </div>

        <div class="skills__list grid">
          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">Linux</h3>
              <span class="skills__number">80%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__Linux"></span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">Windows</h3>
              <span class="skills__number">95%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__Windows"></span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">Windows Server</h3>
              <span class="skills__number">70%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__Windows-Server"></span>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div>
      <!--==================== SKILLS 4 ====================-->
      <div class="skills__content skills__close">
        <div class="skills__header">
          <i class="uil uil-database skills__icon"></i>
          <div>
            <h1 class="skills__title">Database Developer</h1>
            <span class="skills__subtitle">Plus de 2 ans</span>
          </div>
          <i class="uil uil-angle-down skills__arrow"></i>
        </div>

        <div class="skills__list grid">
          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">MySQL</h3>
              <span class="skills__number">80%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__MySQL"></span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">PostgreSQL</h3>
              <span class="skills__number">75%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__PostgreSQL"></span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">MongoDB</h3>
              <span class="skills__number">55%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__MongoDB"></span>
            </div>
          </div>

        </div>
      </div>

      <!--==================== SKILLS 5 ====================-->
      <div class="skills__content skills__close">
        <div class="skills__header">
          <i class="uil uil-swatchbook skills__icon"></i>
          <div>
            <h1 class="skills__title">Designer & Video Editor</h1>
            <span class="skills__subtitle">Plus de 2 ans</span>
          </div>
          <i class="uil uil-angle-down skills__arrow"></i>
        </div>

        <div class="skills__list grid">
          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">Illustrator</h3>
              <span class="skills__number">90%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__Illustrator"></span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">Photoshop</h3>
              <span class="skills__number">95%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__photoshop"></span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">Premiere Pro</h3>
              <span class="skills__number">80%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__Premiere-Pro"></span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">After Effects</h3>
              <span class="skills__number">70%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__After-Effects"></span>
            </div>
          </div>

        </div>
      </div>

      <!--==================== SKILLS 6 ====================-->
      <div class="skills__content skills__close">
        <div class="skills__header">
          <i class="uil uil-java-script skills__icon"></i>
          <div>
            <h1 class="skills__title">Programmation</h1>
            <span class="skills__subtitle">Plus de 3 ans</span>
          </div>
          <i class="uil uil-angle-down skills__arrow"></i>
        </div>

        <div class="skills__list grid">
          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">Python</h3>
              <span class="skills__number">80%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__python"></span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">C</h3>
              <span class="skills__number">75%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__c"></span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">C++</h3>
              <span class="skills__number">70%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__cpp"></span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">Java</h3>
              <span class="skills__number">50%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__java"></span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
